{% extends 'base.html'%}
{% load static %}
{% load index %}
<!DOCTYPE html>
<html>
<head>
    <title>main</title>
{% block contents %}

<style>

		#myStatus{
			margin-top:50px;
			border-radius: 3px;
			box-shadow: 0px 0px 15px #e3e3e3;
			width:90%;
			height:150px;
			background-color:white;
			display:flex;
			justify-content: center;
			flex-direction: column;
			align-items: center;
		}
		#runningIcon{
			width:5em;
			margin-top:10px;
		}
</style>

<div class="flexBox">
	<div id ="myStatus">
	<img id="runningIcon" src="{% static 'credit_manage/img/exercise.png' %}">

	<div style="width:90%; height:7px; background-color:#ffbf00;"></div>
	<div style="display:flex;width:90%;justify-content: space-between;color:#57595D"><p>1</p><p>2</p><p>3</p><p>4</p></div>
	</div>

</div>
<div style="background-color:#f2f2f2;width:100%;margin-top:-20px;padding-top:20px;border-radius:40px 40px 0 0">
<div class="flexBox">
	<div style="display:flex;width:90%;margin-top:15px;color:#57595D">gd</div>
</div>

<div class="flexBox">
	<div style="display:flex;width:90%;margin-top:15px;">

	<img style="width:50%; height: 120px;box-shadow: 0px 0px 15px #e3e3e3; "src="{% static 'credit_manage/img/graph.jpg' %}">
		<div style="display:flex;flex-direction:column;align-items: center;justify-content:space-around;width:50%" >
			<div class="inContain" id="myStatus" style="margin-top:0px;height:40px;">나의 학점현황&nbsp&nbsp&nbsp&nbsp></div>
			<div class="inContain" id="myStatus" style="margin-top:0px;height:40px;">학부 교육과정 조회&nbsp&nbsp&nbsp&nbsp></div>
		</div>
	</div>
	
</div>
<div class="flexBox" style="flex-direction:column">
			<!--<a href="http://www.kangwon.ac.kr/DATA/download/www/2020_schedule_all.jpg" target="_blank" title="새창" class="btn download" style="float:right;">학사일정 전체보기</a>-->
		<h4 style="margin-top:10px;margin-bottom: 0;">상세일정</h4>
		<style>
			table > td:nth-child(even){
				background-color:gray;
			}
			tr{
				border:10px solid black;
			}
		</style>
<div class="flexBox" style="flex-direction: column;">


	{% for i in calArr %}
	<div style="display:flex;width:90%;border-bottom:1px solid #888888">
			<div style="width:100%; "><p style="vertical-align: middle;">{{i.0}}</p></div>
			<div style="width:100%; "><p style="vertical-align: middle;">{{i.1}}</p></div>

	</div>

	{% endfor %}

</div>

</div>
</body>
</html>
{% endblock %}