{% extends 'base.html'%}
{% load static %}
<!doctype html>
<html lang="ko">
    {% block contents %}
    <head>
        <title>{% block title %}회원 가입{% endblock %}</title>
        <script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>
    
        <link rel="stylesheet" type="text/css" href="{% static 'credit_manage/css/modifyform.css'%}">
        <script src="{% static 'credit_manage/js/signIn.js'%}"></script>
    </head>
    

    <div class="flexBox" >
        <div id="container">

            <form>
                <p id="lable">학번</p>
                <input type="text" id="studentId" name="studentId" class="inputField" >

                <p id="lable">이름</p>
                <input type="text" name="studentName" class="inputField" id="studentName">

                <p id="lable">학년</p>
                <select id="studentGrade" name="studentGrade" class="selectField">
                    <option value="1">1학년</option>
                    <option value="2">2학년</option>
                    <option value="3">3학년</option>
                    <option value="4">4학년</option>
                    <option value="5">5학년</option>
                </select>
                <p id="lable">학과</p>
                <div style="display:flex">
                    <input type="text" name="studentName" id="major" class="inputField" id="nameField">
                    <img id="modalOpen" style="width:32px;"src="{% static 'credit_manage/img/search.png' %}">
                </div>
                <p id="lable">비밀번호</p>
                <input type="text" name="studentPw" class="inputField" id="studentPw">

                <p id="pwCheckLable">기존에 사용중이던 비밀번호를 입력해주세요.</p>

                <p id="lable">비밀번호 확인</p>
                <input type="text" name="modifyPw" class="inputField" id="modifyPwField">

                <p id="lable">학적상태</p>
                <select name="studentStatus" class="selectField">
                    <option value="inSchool">재학</option>
                    <option value="rest">휴학</option>
                    <option value="graduation">졸업</option>
                </select>

                <input id="submitBtn" type="button" value="수정하기">
            </form>
            <script>
                function modal(){
                    var modal = document.getElementById('majorModal');
                    var bg = document.createElement('div');
            
                    bg.setAttribute('style','z-index:999;position:fixed;left:0;top:0;width:100%;height:100%;overflow:auto;background-color:rgba(0,0,0,0.4);');
                    document.body.append(bg);
                    modal.querySelector('#modalCloseBtn').addEventListener('click',()=>{
                    bg.remove();
                    modal.style.display='none';
                    });
                    modal.setAttribute('style', 'z-index:1000;position:fixed;display:block;boxShadow:0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);top:50%;left:50%;transform:translate(-50%, -50%);width:40%');
                };
                document.getElementById('modalOpen').addEventListener('click', function() {
                modal();
                });
            </script>
            <div id="majorModal">
                <select name="s1" id="s1">
                    <option value="test1">IT대학</option>
                    <option value="test2">간호대학</option>
                </select>
                <select name="s2" id="s2">
                    <option value="---">---</option>
                </select>
                <img id="modalCloseBtn" src="{% static 'credit_manage/img/cross.png'%}">
            </div>
            <style>
                #majorModal{
                    display: none;
                    width: 90%;
                    padding: 20px 60px;
                    background-color: #fefefe;
                    border: 1px solid #888;
                    border-radius: 3px;
                }
                #modalCloseBtn{
                    width:32px;
                    position: absolute;
                    top:10px;
                    right:32px;
                }
            </style>

        </div>
    </div>
    <!-- <button id="ajaxBtn" type="button" >test</button> -->
<script>
    document.addEventListener('DOMContentLoaded', 
        () => {
            var req;
	        document.getElementById("submitBtn").addEventListener("click", makeRequest);
        }
    );


	function makeRequest(){
        let studentId = document.getElementById('studentId').value;
        let name = document.getElementById('studentName').value;
        let uniYear = document.getElementById('studentGrade').value;
        let major = document.getElementById('major').value;
        let studentPw = document.getElementById('studentPw').value;
        alert(studentPw);
        if (studentId.length !== 9){
            alert("학번이 올바르지 않습니다");
            return 0;
        }
        if (name === '박지원병신'){
            alert("장난하지마라");
            return 0;
        } 

        
		req = new XMLHttpRequest();
		if(!req) {
		    alert('XMLHTTP 인스턴스를 만들 수가 없습니다.');
		    return false;
		}
		req.onreadystatechange = alertContents;
		req.open("POST", "http://54.180.157.139:8080/api/accounts", true);
		req.setRequestHeader('Content-Type', 'application/Json');
        const data = { "studentId": studentId, "password": studentPw, "name": name, "uniYear": uniYear, semester: "FALL", "major": "컴퓨터과학"}
        req.send(JSON.stringify(data));
// 
	}

	function alertContents(){
		try{
			if( req.readyState === XMLHttpRequest.DONE){
				if(req.status === 201 || req.status === 200){
					reqs = req.responseText;
                    alert("회원가입이 완료되었습니다.");
                    location.href="{% url 'login'%}";

				}else{
                    reqs = req.responseText
                    var jsonReqs = JSON.parse(reqs);
					alert(jsonReqs['error']);
                    // alert("error");
                    
				}
			}
		}catch(e){
			alert("Caught Exception: "+ e.description);
		}
	};
    let mArr={'cn':'컴퓨터과학','cn':'정보통신공학'};
    document.getElementById('s1').addEventListener('click',
        () => {
            // document.getElementById("s2").innerHTML="<option value='c'>컴퓨터공학</option>";
        }
    );

</script>
</body>

</html>
{% endblock %}
